header {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
}

.headerLink {
    padding: 0 1em;
    color: gray;
    font-size: 1em;
}

.headerLink:hover {
    color: white;
}